/* fonts */
@font-face {
  font-family: "Quicksand";
  src: url("/Quicksand-Light.woff2") format("woff2"),
    url("/Quicksand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* reset & common styles */
body,
ul,
h1,
h2,
h3,
p,
button,
a,
div {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-family: "Quicksand";
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
}
body {
  display: flex;
  justify-content: center;
  background: radial-gradient(circle, #000046, #000016 250%);
  /* overflow: hidden; */
}

p {
  font-size: 1.4em;
}

.box {
  display: grid;
  width: 100vh;
  border: 1px solid white;
}

/* header */
header {
  display: flex;
  border-bottom: 1px solid green;
  margin: 0px 5px 30px 5px;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  background: radial-gradient(circle, #000046, #000016 250%);
}

header > div {
  text-align: left;
  flex-grow: 5;
}

header .iconUser {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid green;
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
}

/* SVG style */
/* header .pizza-svg {
  width: 60px;
  overflow: visible;
  stroke: #fff;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
} */

button {
  color: white;
  padding: 10px 30px;
  font-size: 1em;
  background: transparent;
  border-radius: 50px;
  border: 1px solid white;
  margin: 40px auto 0;
  cursor: pointer;
  opacity: 0.7;
}

/* pages */
.home_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 80px 0px 80px;
}

h2 {
  text-align: left;
  font-size: 2em;
  width: 80%;
  margin-bottom: 30px;
  border-bottom: white solid 1px;
}

.container {
  max-width: 300px;
  margin: 10px auto 20px;
}
.container h3 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.container li {
  padding: 10px;
  cursor: pointer;
}

.home_main {
  padding: 0px 20px 50px 0px;
  border-bottom: 1px white solid;
}

.list_flat {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}

.list_flat > div {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  margin-left: 15px;
}

/* lists */
li span.active {
  font-weight: bold;
}
li span.active::before {
  content: ">";
  position: relative;
  top: -2px;
  margin-right: 6px;
  transform: scale(0.8, 1);
  display: inline-block;
}

.home_button {
  color: white;
  padding: 20px 30px;
  font-size: 1.8em;
  border: 3px solid white;
  margin: 30px 20px;
}

.home_footer_container {
  text-align: left;
  margin-top: 30px;
}

.registrationTwo_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Your_Data_Form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.Your_Data_Field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}
.Your_Data_Field > p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.calandar_container {
  display: flex;
  justify-content: space-evenly;
}

.calandar_container > div {
  display: flex;
  margin: 5px;
  border: white 1px solid;
}

.Frames_Container {
  display: flex;
  justify-content: space-evenly;
}
.Frames_Container > div {
  border: 1px solid white;
  width: 60px;
  height: 60px;
}

.Long_Distance_Optimisation_lens {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Long_Distance_Optimisation_lens > div {
  border: white 1px solid;
  flex-grow: 1;
  margin: 5px;
}

.Tinting_Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: red 3px solid;
}
.Tinting_Container_Two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: white 1px solid;
}

.Tinting_Option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: white 1px solid;
  margin: 5px;
  padding: 5px;
}

.Tinting_Color {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: space-between;
}
.Tinting_Color_lens {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.Tinting_Option_Top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin: 5px;
  padding: 5px;
}
.Tinting_Option_Top > p {
  border: white 1px solid;
  margin: 5px;
  padding: 5px;
}
.Tinting_Option_Bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: white 1px solid;
  margin: 5px;
  padding: 5px;
}

.base_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lenses_choice_container {
  border: green 1px solid;
  width: 60%;
  overflow: hidden;
}
.lenses_choice_recap {
  display: flex;
  flex-direction: column;
  border: yellow 1px solid;
  width: 30%;
}

.lenses_choice_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
}

.lenses_choice_info > p {
  font-size: 1.2em;
  text-shadow: 0px 0px 4px;
  margin: 4px;
  border-bottom: white 1px solid;
  padding-bottom: 4px;
}

.image_holder {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: red 1px solid;
  width: 140px;
  height: 140px;
  margin: 10px;
}

.Differences_Visualisation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px;
  margin: 60px;
  border: 1px white solid;
}

.summary_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px white solid;
  margin: 15px;
}
.summary_text > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;

  margin: 20px;
}

.AllDone_Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  width: 80%;
}

.ListFAQ_container > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ListFAQ {
  font-size: 1.4em;
  margin: 15px;
}

.navigation_header {
  display: flex;
  margin-left: 15px;
}
.navigation_header > div {
  border: green 1px solid;
  margin: 5px;
}

.radio {
  border-radius: 100%;
}
